.Header{
    padding: 20px;
    background: #182C61;
    border-bottom: 1px solid #25CCF7;
}

.Header ul {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    justify-content: center;
    letter-spacing: 5px;
}

.Header li a {
    text-decoration: none;
    color: #cfcfcf;
    font-weight: 800;
    padding: 10px;
   
}



.Header li:hover, .Header li a:hover, .Header li a.active{
    transform: scale(1.2);
    transition: ease-in-out 0.3s;
    text-transform: uppercase;
    color: #25CCF7;

}